{%  extends "::base.html.twig" %}
{% block content %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.status?'Published':'Inactive' }}</div> <strong>{{ entity.username }}</strong> <a href="{{ path('EvocatioSecurityBundle_edit', { 'id': entity.id }) }}">edit</a> <a href="{{ path('EvocatioSecurityBundle_show', { 'id': entity.id }) }}">show</a> </dt>
            <dd>{{ entity.email }}</dd>
        {{ entity.locked }}
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('EvocatioSecurityBundle_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}
