{% macro fill_area(entity ,area, edit_form) %}
    {% for page_content in entity.getPageContents() if page_content.getArea() == area %}
<div id="{{ 'editable'~page_content.getContent().getId() }}" contenteditable="true">
 {{ page_content.getContent().getContent() |raw }}
    </div>
<p>evocatio_bundle_cmsbundle_pagetype_html_contents_0_content_translations_0_content</p>
<p>evocatio_bundle_cmsbundle_pagetype_html_contents_{{ loop.index0 }}_content_translations_?_content</p>
{#{ edit_form.getName() is defined? edit_form.getName():'edit form not defined' }#}
    {% endfor %}    
{% endmacro %}

{% macro fill_area_with_form(entity ,area, edit_form) %}
    {{ dump(edit_form|keys) }}
    {#% for page_content in edit_form.vars.getPageContents() if page_content.getArea() == area %}
<div id="{{ 'editable'~page_content.getContent().getId() }}" contenteditable="true">
 {{ page_content.getContent().getContent() |raw }}
    </div>
<p>evocatio_bundle_cmsbundle_pagetype_html_contents_0_content_translations_0_content</p>
<p>evocatio_bundle_cmsbundle_pagetype_html_contents_{{ loop.index0 }}_content_translations_?_content</p>
{#{ edit_form.getName() is defined? edit_form.getName():'edit form not defined' }#}
    {#% endfor %#}    
{% endmacro %}