{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block inside_content %}
<dl>
    {% for entity in entities %}
        <dt>
            <div>Status: {{ entity.status?'Published':'Inactive' }}</div> 
            {{ entity.name }}
            {{ entity.description }}
            <a href="{{ route_i18n.path('owner_site_sheet_edit', {'id': entity.id, 'portfolio_id': portfolio_id} , ['edit']) }}">edit</a> 
        </dt>
    {% else %}
        aucun
    {% endfor %}
</dl>
{#<ul>
    <li>
        <a href="{{ _route_crud.path('owner_site_sheet_create', 'create') }}">
            Create a new entry
        </a>
    </li>
</ul>#}
{% endblock inside_content %}
{% block aside %}
    {#% render "EvocatioCoreBundle:Core:i18nSwitcher" with {"_locale" : app.getRequest().get("_locale")} %#}
{% endblock aside %}


