{%  extends "::base_back.html.twig" %}
{% block theatre %}
<h1>Ajouter/Modifier une entite</h1>
<div class="tabs">
    {% for key, translation in edit_form.translations %}
        <li id="tab{{ translation.vars.value.getTransLang.id }}" class="tab active" onclick="showFormElement(this)"><a href="#" onclick="return false" data-toggle="tab">{{ translation.vars.value.getTransLang.name }}</a></li>
    {% endfor %}    
    </div>
    {{ form_errors(edit_form)}}
    <form action="
    {% block formhead %}
    {% endblock formhead %}
          " method="post" {{ form_enctype(edit_form) }}>
    {% block form %}
    {% endblock form %}
              <div class="zone-admin-ok-button">
                  <div class="buttonify-container">
                      <input class="admin-ok-button" type="submit" value="OK">
                  </div>
              </div>
          </form>
          <ul>
              <li>
    {% block back %}
    {% endblock back %}
                  </li>
    {% block delete %}
    {% endblock delete %}
              </ul>
{% endblock theatre %}

{% block aside %}
              --{{ app.getRequest().get("_locale") }} -
    {% render "EvocatioCoreBundle:Default:i18nSwitcher" with {"_locale" : app.getRequest().get("_locale")} %}
{% endblock aside %}
{% block javascripts %}
    {{ parent() }}
              <script src="/js/sig.js" type="text/javascript"></script>
{% endblock javascripts %}

{# 
so far takes a form block, delete block and, formhead block
should add a title and h1 block
#}