{%  extends "::base.html.twig" %}
{% block theatre %}
    <dl>
        {% for entity in entities %}
            <div>{{ entity.name }}</div> <strong>{{ entity.description }}</strong> <a href="{{ path('EvocatioPosBundle_GenericProductEdit', { 'id': entity.id }) }}">edit</a> <a href="{{ path('EvocatioPosBundle_GenericProductShow', { 'id': entity.id }) }}">show</a>
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('EvocatioPosBundle_GenericProductNew') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock theatre %}
