{%  extends "::admin_base.html.twig" %}
{% block theatre %}
<ul>
        {% for entity in entities %}
        <li>
            <div class="btn-group pull-left" style="display: inline-block">
                <a href="{{ path('EvocatioFaqBundle_FaqShow', { 'id': entity.id }) }}" class="btn">Show</a>
                <a href="{{ path('EvocatioFaqBundle_FaqEdit', { 'id': entity.id }) }}" class="btn">Edit</a>
            </div>

            <div >{{ entity.status?'Published':'Inactive' }}
            <dl>
                <dt> <strong> {{ entity.question }} </strong> </dt>
                <dd>{{ entity.reponse }}</dd>
            </dl>
            </div> 
        </li>
        {% else %}
        aucun
        {% endfor %}
    </ul>
    <ul>
        <li>
            <a href="{{ path('EvocatioFaqBundle_FaqNew') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock theatre %}


