{%  extends "WebsiteSiteBundle:Template:multilangue_add_template.html.twig" %}
{% block formhead %}
    {{ path('EvocatioFaqBundle_FaqCreate') }}
{% endblock formhead %}

{% block form %}
<fieldset>
    <ul>
        <li>
            {{ form_label(edit_form.status)}}
            {{ form_widget(edit_form.status)}}
        </li>
        
        {% for key, translation in edit_form.translations %}
            <li class="tab-element tab{{ translation.vars.value.getTransLang.id }}" {% if loop.index != 1 %}style="display:none;"{% endif %}>
              {% include 'WebsiteSiteBundle:Faq:Snippets/form_widget.html.twig' with { 'widget' : translation.question } %}
            </li>

            <li class="tab-element tab{{ translation.vars.value.getTransLang.id }}" {% if loop.index != 1 %}style="display:none;"{% endif %}>
                {{ form_label(translation.reponse) }}
            
                <span class="widget">
                {{ form_widget(translation.reponse, {'attr': {'class': 'ckeditor ckeditor-admin'} }) }}
                </span>
                {{ form_errors(translation.reponse) }}
            </li>
        {% endfor %}
    </ul>
    {{ form_rest(edit_form) }}
</fieldset>
{% endblock form %}

{% block back %}
<a href="{{ path('EvocatioFaqBundle_FaqList') }}">
    Back to the list
</a>
{% endblock back %}
