{% extends "::base.html.twig" %}


{% block title %}Info sur la translation{% endblock %}

{% block inside_content %}
{{ app.session.flash('notice')|trans }}

&nbsp;
<h1>Choisir la culture pour "{{ language.symbol }}"</h1>
<form action="{{ path('EvocatioCoreBundle_CulturesUpdate', {'display_language': language.symbol }) }}" method="post" {{ form_enctype(edit_form) }}>
{{ form_widget(edit_form) }}

<input type="submit" value="go" />
</form>
<br />
<a href="{{ path("EvocatioCoreBundle_LanguagesEdit") }}">Choisir les langues</a>
{% endblock inside_content %}


