<ul>
    <li>
        <img width="{{entity.width }}" height="{{ entity.height }}" alt="{{ entity.alt }}" src="{{path("owner_site_imagefile_show", {"id": entity.id})}}" />
    </li>
    <li>
        <a href="{{ path('owner_site_imagefile_resize', {'id': entity.id}) }}">resize</a>
    </li>
    <li>
        <a href="{{ path('owner_site_file_edit', {'id': entity.id}) }}">edit</a>
    </li>
    <li>
        <form action="{{ path('owner_site_file_delete') }}" method="post">
            {{ form_widget(delete_forms[entity.getId()]) }}
        </form>
    </li>
    <li>
        <form action="{{ path('owner_site_file_download', {'id': entity.id}) }}" method="post">
            <button type="submit">download</button>
        </form>
    </li>
</ul>    
