{%  extends "EvocatioCoreBundle:Template:add_template.html.twig" %}
{% block formhead %}
    {{ path('EvocatioPersonaBundle_PersonWithCoorCreate') }}
{% endblock formhead %}

{% block form %}
<fieldset>
    <ul>
        <li>{{ form_label(edit_form.firstname)}}
            {{ form_errors(edit_form.firstname)}}
                <span>{{ form_widget(edit_form.firstname)}}</span>
            </li>
            <li>{{ form_label(edit_form.lastname)}}
            {{ form_errors(edit_form.lastname)}}
                    <span>{{ form_widget(edit_form.lastname)}}</span>
                </li>
                <li>{{ form_label(edit_form.sex)}}
            {{ form_errors(edit_form.sex)}}
                        <span>{{ form_widget(edit_form.sex)}}</span>
                    </li>
                    <li>{{ form_label(edit_form.birthday)}}
            {{ form_errors(edit_form.birthday)}}
                            <span>{{ form_widget(edit_form.birthday)}}</span>
                        </li>
                        {{ form_rest(edit_form) }}
                </fieldset>
<input type=button value="add address" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_postal')" />
<input type=button value="add map" onclick="javascript:addAnItem('evocatio_bundle_personabundle_persontype_map')" />
{% endblock form %}

{% block back %}
                <a href="{{ path('EvocatioPersonaBundle_PersonWithCoorList') }}">
                    Back to the list
                </a>
{% endblock back %}
