{% extends "::base.html.twig" %}
{% import "::macro/route/crud.html.twig" as route_crud %}
{% block inside_content %}
<dl>
    {% for entity in entities %}
        <dt>
            <div>{{ entity.status?'Published':'Inactive' }}</div> 
            <strong>{{ entity.question }}</strong> 
            <a href="{{ route_crud.edit('evocatio_web_faq_edit', entity.id) }}">edit</a> 
            <a href="{{ route_crud.show('evocatio_web_faq_show', entity.id) }}">show</a> 
        </dt>
        <dd>{{ entity.reponse }}</dd>
    {% else %}
        aucun
    {% endfor %}
</dl>
<ul>
    <li>
        <a href="{{ route_crud.create('evocatio_web_faq_create') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_content %}
{% block aside %}
    {#% render "EvocatioCoreBundle:Core:i18nSwitcher" with {"_locale" : app.getRequest().get("_locale")} %#}
{% endblock aside %}


