{%  extends "::base.html.twig" %}
{% import "::macro/route/crud.html.twig" as _route_crud %}
{% block inside_content %}
<h1>Faq</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Question</th>
            <td>{{ entity.question }}</td>
        </tr>
        <tr>
            <th>Reponse</th>
            <td>{{ entity.reponse }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ _route_crud.path('evocatio_web_faq_list', 'list') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ _route_crud.path('evocatio_web_faq_edit', 'edit', entity.id) }}">
            Edit
        </a>
    </li>
   {# <li>
        <form action="{{ path('EvocatioFaqBundle_FaqDelete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li> #}
</ul>
{% endblock inside_content %}
{% block aside %}
    {#% render "EvocatioCoreBundle:Core:i18nSwitcher" with {"_locale" : app.getRequest().get("_locale")} %#}
{% endblock aside %}