{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% import "EvocatioPersonaBundle::macro/route/i18n.html.twig" as route_i18n_persona %}
<ul>
    <li><h4>Faq</h4>
        <ul>
            <li><p>Ajouter un p</p></li>
            <li><a href="{{ _route_crud.path('owner_site_faq_create', 'create') }}">Ajouter</a></li>
            <li><a href="{{ _route_crud.path('owner_site_faq_list', 'list') }}">Voir la liste</a></li>
        </ul>
    </li>
    <li><h4>Posts</h4>
        <ul>
            <li><a href="{{ _route_crud.path('owner_site_post_create', 'create') }}">Ajouter</a></li>
            <li><a href="{{ _route_crud.path('owner_site_post_list', 'list') }}">Voir la liste</a></li>
        </ul>
    </li>
    <li><h4>Page</h4>
        <ul>
            <li><a href="{{ _route_crud.path('owner_site_page_create', 'create') }}">Ajouter</a></li>
            <li><a href="{{ _route_crud.path('owner_site_page_list', 'list') }}">Voir la liste</a></li>
        </ul>
    </li>
    <li><h4>Menu</h4>
        <ul>
            <li><a href="{{ _route_crud.path('owner_site_menu_create', 'create') }}">Ajouter</a></li>
            <li><a href="{{ _route_crud.path('owner_site_menu_list', 'list') }}">Voir la liste</a></li>
        </ul>
    </li>
    <li><h4>Template</h4>
        <ul>
            <li><a href="{{ _route_crud.path('owner_site_template_create', 'create') }}">Ajouter</a></li>
            <li><a href="{{ _route_crud.path('owner_site_template_list', 'list') }}">Voir la liste</a></li>
        </ul>
    </li>
    <li><h4>Utilisateurs</h4>
        <ul>
            <li><a href="{{ route_i18n.path('owner_site_user_create', {}, ['user', 'create']) }}">Ajouter</a></li>
            <li><a href="{{ route_i18n.path('owner_site_user_list', {}, ['user', 'list']) }}">Lister</a></li>
        </ul>
    </li>
    <li><h4>Persona</h4>
        <ul>
            <li>
                <p>Employés</p>
                <ul>
                    <li><a href="{{ route_i18n_persona.path('owner_site_employee_create', {}, ['create'], 'employee') }}">Ajouter</a></li>
                    <li><a href="{{ route_i18n_persona.path('owner_site_employee_list', {}, ['list'], 'employee') }}">Lister</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h4>Portfolio</h4>
        <ul>
            <li><a href="{{ route_i18n.path('owner_site_portfolio_create', {}, ['create']) }}">Ajouter</a></li>
            <li><a href="{{ route_i18n.path('owner_site_portfolio_list', {}, ['list']) }}">Lister</a></li>
        </ul>
    </li>
    <li><h4>Produits</h4>
        <ul>
            <li><a href="{{ path('owner_site_product_create') }}">Ajouter</a></li>
            <li><a href="{{ path('owner_site_product_list') }}">Lister</a></li>
        </ul>
    </li>
    <li><h4>File</h4>
        <ul>
            <li><a href="{{ route_i18n.path('owner_site_file_create') }}">Ajouter</a></li>
            <li><a href="{{ route_i18n.path('owner_site_file_list') }}">List</a></li>
        </ul>
    </li>
</ul>
