{% extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block inside_content %}
<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Username</th>
            <th>Email</th>
            <th>Locked</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable">
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.status?'Published':'Inactive' }}
                </td>
                <td>
                    {{ entity.username }}
                </td>
                <td>{{ entity.email }}</td>
                <td>
                    <a href="{{ route_i18n.path('owner_site_user_edit', {'id': entity.id}, ['user', 'edit']) }}">edit</a> 
                    | <a href="{{ route_i18n.path('owner_site_user_show', {'id': entity.id}, ['user', 'show']) }}">show</a> </dt>
                </td>
                <td>
                    {{ entity.locked }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    aucune entré
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<ul>
    <li>
        <a href="{{ route_i18n.path('owner_site_user_create', {}, ['user', 'create']) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_content %}
