{% extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block inside_theater %}
<h1>Security</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.getId() }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ entity.getStatus() }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.getUsername() }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.getEmail() }}</td>
        </tr>
        <tr>
            <th>Locked</th>
            <td>{{ entity.getLocked()?"Locked":"Unlocked" }}</td>
        </tr>
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ route_i18n.path('owner_site_user_list', {}, ['user', 'list']) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ route_i18n.path('owner_site_user_edit', {'id': entity.id}, ['user', 'edit']) }}">
            Edit
        </a>
    </li>
    {#<li>
        <form action="{{ path('EvocatioSecurityBundle_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>#}
</ul>
{% endblock inside_theater %}