{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{% block inside_content %}
<h2>{{"file.list" | trans}}</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Mime type</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable">
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.mimeType }}</td>
                <td>
                    <a class="btn up pull-left" onclick="ranking(this, 'tr');"><img src="/images/arrow_up.png" /></a>
                    <a class="btn down pull-left" onclick="ranking(this, 'tr');"><img src="/images/arrow_down.png" /></a>

                </td>
                <td>
                    <a href="{{ path('owner_site_file_edit', {'id': entity.id}) }}">edit</a>
                    <form action="{{ path('owner_site_file_delete') }}" method="post">
                        {{ form_widget(delete_forms[entity.getId()]) }}
                    </form>
                    <form action="{{ path('owner_site_file_download', {'id': entity.id}) }}" method="post">
                        <button type="submit">download</button>
                    </form>
                </td>
                </tr>
        {% else %}
                <tr>
                    <td>
                        aucune entré
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <ul>
            <li>
                <a href="{{ path('owner_site_file_create') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
{% endblock inside_content %}
