{% extends "EvocatioCoreBundle:Template:add_template.html.twig" %}
{% import "::macro/route/suffix.html.twig" as route_suffix %}
{% block formhead %}
    {{ route_suffix.create('evocatio_persona_company_create', 'company') }}
{% endblock formhead %}

{% block form %}
<fieldset>
    <ul>
        <li>
            {{ form_label(edit_form.name)}}
            {{ form_errors(edit_form.name)}}
            <span>{{ form_widget(edit_form.name)}}</span>
        </li>
        {{ form_rest(edit_form) }}
    </ul>
</fieldset>
{% endblock form %}

{% block back %}
    <a href="{{ route_suffix.list('evocatio_persona_company_list', 'company') }}">
        Back to the list
    </a>
{% endblock back %}
