{%  extends "::base.html.twig" %}
{% block inside_content %}
<h1>Persona Company</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.getName() }}</td>
        </tr>
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('evocatio_persona_company_list', {'discriminator': 'company'}) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('evocatio_persona_company_edit', { 'id': entity.id, 'discriminator': 'company'}) }}">
            Edit
        </a>
    </li>
    <li>
        {#<form action="{{ path('EvocatioPersonaBundle_PersonDelete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>#}
    </li>
</ul>
{% endblock inside_content %}