{%  extends "::admin_base.html.twig" %}
{% block content %}
<ul class="no-style-ul">
        {% for entity in entities %}
        <li>
            <ul class="admin-entities-lines ul-li-left-full-weight">
                <li><a href="{{ path('EvocatioWebBundle_FaqShow', { 'id': entity.id }) }}" >Show</a></li>
                <li><a href="{{ path('EvocatioWebBundle_FaqEdit', { 'id': entity.id }) }}" >Edit</a></li>
                <li> _{{ entity.status }}_ </li>
                <li><strong> {{ entity.question }} </strong></li>
            </ul>
        </li>
        {% else %}
        aucun
        {% endfor %}
</ul>

<ul>
    <li>
        <a href="{{ path('EvocatioWebBundle_FaqNew') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}


