{%  extends "OwnerSiteBundle:Template:multilangue_add_template.html.twig" %}
{% block formhead %}
    {{  _route_crud.path('owner_site_post_create',  'create') }}
{% endblock formhead %}

{#% form_theme edit_form "OwnerSiteBundle:Form:formulator.html.twig" %#}
{% form_theme edit_form "::Form/inline.html.twig" %}

{% block save_button %}
    {{ form_widget(edit_form.save) }}
{% endblock save_button %}

{% block fields %}

{% set vars = edit_form.translations.vars.prototype.trans_lang.vars %}
{#% for key, choices in vars["choices"] %}

<div id="evocatio_bundle_webBundle_posttype_translations_{{ loop.index0 }}_inline" class="{{loop.index0!=0?"trans_div hidden":"trans_div"}}">
    <h2 id="evocatio_bundle_webBundle_posttype_translations_{{ loop.index0 }}_title_inline" contenteditable="true" onblur="updateContent($(this), 'input');">
        {% spaceless %}
        {{ ((edit_form.vars['data'].title(choices.data.symbol) is defined)? edit_form.vars['data'].title(choices.data.symbol) : "Title") | raw }}
        {% endspaceless %}
    </h2>
    <h4 id="evocatio_bundle_webBundle_posttype_translations_{{ loop.index0 }}_subtitle_inline" contenteditable="true" onblur="updateContent($(this), 'input')">
        {{ ((edit_form.vars['data'].subtitle(choices.data.symbol) is defined)? edit_form.vars['data'].subtitle(choices.data.symbol) : "Subtitle") | raw }}
    </h4>
    <div id="evocatio_bundle_webBundle_posttype_translations_{{ loop.index0 }}_content_inline" contenteditable="true" onblur="updateContent($(this), 'textarea')">
        <p>
        {{ ((edit_form.vars['data'].content(choices.data.symbol) is defined)? edit_form.vars['data'].content(choices.data.symbol) : "Content") | raw }}
        </p>
    </div>
</div>
{% endfor %#}
<fieldset>
{{ form_rest(edit_form) }}
    </fieldset>
{% endblock fields %}

{% block back %}
    <a href="{{ _route_crud.path('owner_site_post_list', 'list') }}">
        Back to the list
    </a>
{% endblock back %}
