{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{% block inside_theater %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.status?'Published':'Inactive' }}</div> <strong>{{ entity.title }}</strong> 
            <a href="{{ path('owner_site_post_edit', {'edit': ('edit' | trans({}, 'routes')), 'id': entity.id}) }}">edit</a> 
            <a href="{{ path('owner_site_post_show', {'show': ('show' | trans({}, 'routes')), 'id': entity.id}) }}">show</a> </dt>
            <dd>{{ entity.excerpt }}</dd>
        {{ entity.name }}
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('owner_site_post_create', {'create': ('create' | trans({}, 'routes'))}) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_theater %}
