{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block inside_content %}
{% block fields %}
<form class="form" action="{{ route_i18n.path('owner_site_post_rank', {}, ['rank']) }}" method="POST">
    <fieldset>
        <ul>
        {% for form in edit_form.posts %}
        <li class="post">
            <a class="btn rank up" onclick="rank($(this).parent(), 'up');"><img src="/images/arrow_up.png" /></a>
            <a class="btn rank down" onclick="rank($(this).parent(), 'down');"><img src="/images/arrow_down.png" /></a>
            <h4>{{ form.vars["data"].title }}</h4>
            <p>
                {{ form.vars["data"].content }}
            </p>
            {{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
        </li>    
        {% endfor %}
        </ul>
    {{ form_rest(edit_form) }}
    </fieldset>
</form>
{% endblock fields %}
{% endblock inside_content %}