{% extends "OwnerSiteBundle::base.html.twig" %}
{% block navigation %}
{% endblock navigation %}
{% block header %}
{% endblock header %}
{% block inside_content %} 
{% for area in entity.template.areas %}
<div id="{{ area.name }}" class="area" ondrop="addContent()">
        <section>
            <h6>Available content list</h6>
            <ul class="contents-list">
                <li>
                    <input type=button value="Add Html content" onclick="javascript:addHtmlContent('evocatio_bundle_cmsbundle_pagetype_html_contents', '', '{{ area.name }}');" />
                    <input type=button value="Add Text content" onclick="javascript:addHtmlContent('evocatio_bundle_cmsbundle_pagetype_text_contents', '', '{{ area.name }}');" />
                </li>
            </ul>
        </section>
        <div class="display">
            {% for content in entity.getPageContents() %}
                {% if(content.getContent().is("Evocatio\\Bundle\\CmsBundle\\Entity\\HtmlContent")) %}
                
                
                    {% for translation in content.content().translations %}
                        <h1>{{translation.getTransLang().symbol }} => {{translation.getTransLang().name }}</h1>
                        <div id="editable" contenteditable="true">
                            {% if(translation.content) %}
                                {{ translation.content | raw }}
                            {% else %}
                                <h4>Inline Editing in Action!</h4>
                                <p>The div element that contains this text is now editable.
                            {% endif %}
                        </div>
                    {% endfor %}
                
                {% else %}
                    {{ content.getContent().content |raw }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock inside_content %}