{% extends "OwnerSiteBundle::base.html.twig" %}
{% block navigation %}
{% endblock navigation %}
{% block inside_header %}
            {% for content in entity.getContentsByArea("header")%}
                {{ content.content |raw }}
            {% endfor %}
{% endblock inside_header %}
{% block inside_content %} 
l'idée d'un template c'est d'avoir un look, donc il y aura le contenu header, aside, main et footer


<aside>
            {% for content in entity.getContentsByArea("aside")%}
                {{ content.content |raw }}
            {% endfor %}    
</aside>
<div id="theatre">

{% for area in entity.template.areas %}
    <div id="{{ area.name }}" class="area">
        <section>
            <h6>Available content list</h6>
            <ul class="contents-list">
                <li>
                    <input type=button value="Add Html content" onclick="javascript:addHtmlContent('evocatio_bundle_cmsbundle_pagetype_html_contents', null, '{{ area.name }}');" />
                </li>
            </ul>
        </section>
        <div class="display">
            {% for content in entity.getContentsByArea(area.name)%}
                {{ content.content }}
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock inside_content %}