{% extends "OwnerSiteBundle:Template:multilangue_add_template.html.twig" %}
{% block formhead %}
    {{ _route_crud.path('owner_site_page_create', 'create') }}
{% endblock formhead %}
{#% form_theme edit_form "OwnerSiteBundle:Form:page_form.html.twig" %#}
{% form_theme edit_form.translations "::Form/translations.html.twig" %}
{% block form %}
<fieldset>
        {{ form_rest(edit_form) }}
</fieldset>
<input type=button value="add html content" onclick="javascript:addAnItem('evocatio_bundle_cmsbundle_pagetype_htmlcontents')" />
{% endblock form %}

{% block back %}
    <a href="{{ _route_crud.path('owner_site_page_list', 'list') }}">
        Back to the list
    </a>
{% endblock back %}

{% block stylesheets %}
{{ parent() }}
            {% if app.environment != 'prod' %}
                <!-- link href="{{ asset("less/formulator.less") }}" rel="stylesheet/less" type="text/css" / -->
            {% else %}
                <link rel="stylesheet" type="text/css" href="/css/base.css" />
            {% endif %}
{% endblock stylesheets %}