{%  extends "::base_back.html.twig" %}
{# Note: to make a multiple upload file in twig add [] to the full_name
                        {{ form_widget(translation.file,{'full_name': translation.file.get('full_name') ~ '[]'})}} 
#}
{% block middle_content %}
<h1>Ajouter/Modifier une entite</h1>
<div class="nav nav-tabs">
    {% for key, translation in edit_form.translations %}
        <li id="tab{{ translation.vars.value.getTransLang.id }}" class="tab{% if loop.index == 1 %} active{% endif%}" onclick="showFormElement(this)"><a href="#" onclick="return false" data-toggle="tab">{{ translation.vars.value.getTransLang.name }}</a></li>
    {% endfor %}    
</div>
    {{ form_errors(edit_form)}}
<div class="edit-form">
    <form action="{% block formhead %}{% endblock formhead %}" method="post" {{ form_enctype(edit_form) }} >
    {% block form %} {% endblock form %}
    <div>
        <div>
            <button type="submit" class="btn">Ok</button>
        </div>
    </div>
    </form>
    <ul>
        <li>
        {% block back %}
        {% endblock back %}
        </li>
    {% block delete %}
    {% endblock delete %}
    </ul>
</div>
{% endblock middle_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/sig.js" type="text/javascript"></script>
{% endblock javascripts %}

{# 
so far takes a form block, delete block and, formhead block
should add a title and h1 block
#}