{% extends "EvocatioCoreBundle:Template:add_template.html.twig" %}
{% import "::macro/route/suffix.html.twig" as _route_suffix %}
{% block formhead %}
    {{ _route_suffix.path('evocatio_persona_person_create', 'create', 'person') }}
{% endblock formhead %}

{% block form %}
<fieldset>
    <ul>
        <li>
            {{ form_label(edit_form.firstname)}}
            {{ form_errors(edit_form.firstname)}}
            <span>{{ form_widget(edit_form.firstname)}}</span>
        </li>
        <li>
            {{ form_label(edit_form.lastname)}}
            {{ form_errors(edit_form.lastname)}}
            <span>{{ form_widget(edit_form.lastname)}}</span>
        </li>
        <li>
            {{ form_label(edit_form.sex)}}
            {{ form_errors(edit_form.sex)}}
            <span>{{ form_widget(edit_form.sex)}}</span>
        </li>
        <li>
            {{ form_row(edit_form.telephone) }}
        </li>
        <li>
            {{ form_row(edit_form.web) }}
        </li>
        <li>
            {{ form_row(edit_form.postal) }}
        </li>
        <li>
            {{ form_row(edit_form.map) }}
        </li>
        <li>
            {{ form_row(edit_form.time) }}
        </li>
        {{ form_rest(edit_form) }}
    </ul>
</fieldset>
{% endblock form %}

{% block back %}
    <a href="{{ _route_suffix.path('evocatio_persona_person_list', 'list','person') }}">
        Back to the list
    </a>
{% endblock back %}
