{%  extends "::base.html.twig" %}
{% block inside_content %}
    <dl>
        {% for entity in entities %}
            <div>
                <div> {{ entity.firstname }}</div> 
                <strong>{{ entity.lastname }}</strong> 
                <a href="{{ path('evocatio_persona_person_edit', { 'id': entity.id, "persona": ("person" | trans({}, "routes")), "edit": ("edit" | trans({}, "routes"))}) }}">edit</a> 
                <a href="{{ path('evocatio_persona_person_show', { 'id': entity.id, "persona": ("person" | trans({}, "routes")), "show": ("show" | trans({}, "routes"))}) }}">show</a> 
            </div>
            <div>sex: {{ entity.sex }}</div>
            {% for coor in entity.getPostal() %}
            <div>{{ coor.getAddress() }}</div>
            {% endfor %}
            {% for coor in entity.getMap() %}
            <div>{{ coor.getLng() }}</div>
            {% endfor %}
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('evocatio_persona_person_create', {"persona": ("person" | trans({}, "routes")), "new": ("new" | trans({}, "routes"))}) }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_content %}
