{%  extends "EvocatioCoreBundle:Template:add_template.html.twig" %}
{% block formhead %}
    {{ path('evocatio_persona_person_create', {"discriminator": "person"}) }}
{% endblock formhead %}

{% block form %}
<fieldset>
    <ul>
        <li>
            {{ form_label(edit_form.firstname)}}
            {{ form_errors(edit_form.firstname)}}
            <span>{{ form_widget(edit_form.firstname)}}</span>
        </li>
        <li>
            {{ form_label(edit_form.lastname)}}
            {{ form_errors(edit_form.lastname)}}
            <span>{{ form_widget(edit_form.lastname)}}</span>
        </li>
        <li>
            {{ form_label(edit_form.sex)}}
            {{ form_errors(edit_form.sex)}}
            <span>{{ form_widget(edit_form.sex)}}</span>
        </li>
        {{ form_rest(edit_form) }}
    </ul>
</fieldset>
{% endblock form %}

{% block back %}
    <a href="{{ path('evocatio_persona_person_list', {"discriminator": "person"}) }}">
        Back to the list
    </a>
{% endblock back %}
