{%  extends "::base.html.twig" %}
{% block theatre %}
<h1>Security</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.getId() }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ entity.getSex() }}</td>
        </tr>
        <tr>
            <th>Personname</th>
            <td>{{ entity.getFirstname() }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.getLastname() }}</td>
        </tr>
        {% for coor in entity.getPostal() %}
        <tr>
            <th>address</th>
            <td>{{ coor.getAddress() }}</td>
        </tr>
        {% endfor %}
        {% for coor in entity.getMap() %}
        <tr>
            <th>Long</th>
            <td>{{ coor.getLng() }}</td>
        </tr>
        {% endfor %}
        {% for coor in entity.getWeb() %}
        <tr>
            <th>Web</th>
            <td>{{ coor.getWeb() }}</td>
        </tr>
        {% endfor %}
        {% for coor in entity.getTelephone() %}
        <tr>
            <th>Telephone</th>
            <td>{{ coor.getTelephone() }}</td>
        </tr>
        {% endfor %}
        {% for coor in entity.getTime() %}
        <tr>
            <th>Time</th>
            <td>{{ coor.getMoment().format('d/m/Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('EvocatioPersonaBundle_PersonIndex') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('EvocatioPersonaBundle_PersonEdit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('EvocatioPersonaBundle_PersonDelete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock theatre %}