{%  extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "::macro/route/i18n.html.twig" as route_i18n %}
{% block inside_content %}
<h2>{{"portfolio.list" | trans}}</h2>
<table>
    <thead>
        <tr>
            <th>{{"status" | trans}}</th>
            <th>{{"name" | trans}}</th>
            <th>{{"sheets" | trans}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable">
        {% for entity in entities %}
            <tr>
                <td>{{ entity.status }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    <ul>
                        {% for sheet in entity.sheets %}
                            <li>{{ sheet.name | raw }},  <a href="{{ route_i18n.path('owner_site_sheet_edit', { 'id': sheet.id, 'portfolio_id': entity.id} , ['edit']) }}">{{"edit"}}</a> </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ route_i18n.path('owner_site_portfolio_show', {'id': entity.id} , ['edit']) }}">show</a> |
                    <a href="{{ route_i18n.path('owner_site_portfolio_edit', {'id': entity.id} , ['edit']) }}">edit</a> |
                    <a href="{{ route_i18n.path('owner_site_sheet_create', {'portfolio_id': entity.id} , ['create']) }}">{{"add.a.sheet"}}</a> |
                    <a href="{{ route_i18n.path('owner_site_sheet_list', {'portfolio_id': entity.id} , ['list']) }}">{{"list.sheet"}}</a> |
                     <form action="{{ route_i18n.path('owner_site_portfolio_delete', {'id': entity.id}, ['delete']) }}" method="post">
                        {{ form_widget(delete_forms[entity.getId()]) }}
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    aucune entré
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{#<ul>
    <li>
        <a href="{{ _route_crud.path('owner_site_portfolio_create', 'create') }}">
            Create a new entry
        </a>
    </li>
</ul>#}
{% endblock inside_content %}
{% block aside %}
    {#% render "EvocatioCoreBundle:Core:i18nSwitcher" with {"_locale" : app.getRequest().get("_locale")} %#}
{% endblock aside %}


