{%  extends "::base.html.twig" %}
{% block theatre %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.status?'Published':'Inactive' }}</div> <strong>{{ entity.title }}</strong> <a href="{{ path('EvocatioWebBundle_edit', { 'id': entity.id }) }}">edit</a> <a href="{{ path('EvocatioWebBundle_show', { 'id': entity.id }) }}">show</a> </dt>
            <dd>{{ entity.excerpt }}</dd>
        {{ entity.name }}
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('EvocatioWebBundle_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock theatre %}
