{%  extends "::base.html.twig" %}
{% block theatre %}--
    <dl>
        {% for faq in entities %}
            <dt><div>{{ faq.status?'status':'instatus' }}</div> <strong>{{ faq.question }}</strong> <a href="{{ path('EvocatioFaqBundle_edit', { 'id': faq.id }) }}">edit</a> <a href="{#{ path('EvocatioFaqBundle_show', { 'id': faq.id }) }#}">show</a> </dt>
            <dd>{{ faq.reponse }}</dd>
        {% else %}
            &nbsp;
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ path('EvocatioFaqBundle_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock theatre %}
{% block aside %}
--{{ app.getRequest().get("_locale") }} -
    {% render "EvocatioCoreBundle:Default:i18nSwitcher" with {"_locale" : app.getRequest().get("_locale")} %}
{% endblock aside %}


