{%  extends "::base.html.twig" %}
{% block aside %}
<h1>Ajouter/Modifier une faq</h1>
<div class="tabs">
            {% for key, translation in edit_form.translations %}
        <li id="tab{{ translation.vars.value.getTransLang.id }}" class="tab active" onclick="showFormElement(this)"><a href="#" onclick="return false" data-toggle="tab">{{ translation.vars.value.getTransLang.name }}</a></li>
            {% endfor %}
    </div>


    <form action="
    {% block formhead %}
        {{ path('EvocatioFaqBundle_create') }}
    {% endblock formhead %}
          " method="post" {{ form_enctype(edit_form) }}>
              <fieldset>
                {{ "publish"| trans }} {{ form_widget(edit_form.status) }}
                      <ul>
                {% for key, translation in edit_form.translations %}
                              <li class="tab-element tab-element{{ translation.vars.value.getTransLang.id }} text">
                        {{ form_errors(edit_form.translations.0.question) }}
                        {{ form_label(translation.question) }}
                        {{ form_widget(translation.question, {'attr': {'class': 'admin-input'} })}}
                                  </li>
                                  <li class="tab-element tab-element{{ translation.vars.value.getTransLang.id }} text">
                                      <div class="pull-left">
                        {{ form_errors(translation.reponse) }}
                        {{ form_label(translation.reponse) }}
                                              <span class="helpers">
                                                  Pour coller des textes en provenance de pages web ou de Microsoft Word utilisez le bouton
                                                  <span class="cke_skin_kama word-icone-admin" style="display: inline-block; border: 0px; padding: 0px;" title="icône paste text de FCKEditor">
                                                      <span class="cke_button cke_button_pastefromword"><span class="cke_icon"></span></span>
                                                  </span>
                                                  qui éliminera tout formatage
                                              </span>
                                          </div>
                                          <div class="pull-left">
                        {{ form_widget(translation.reponse, {'attr': {'class': 'ckeditor ckeditor-admin'} }) }}
                                              </div>
                                          </li>
              {% endfor %}
                                      </ul>
                        {{ form_rest(edit_form) }}


                                      <div class="zone-admin-ok-button">
                                          <div class="buttonify-container">
                                              <input class="admin-ok-button" type="submit" value="OK">
                                          </div>
                                      </div>
                                  </fieldset>
                              </form>
                              <ul>
                                  <li>
                                      <a href="{{ path('EvocatioFaqBundle_index') }}">
                                          Back to the list
                                      </a>
                                  </li>
    {% block delete %}
    {% endblock delete %}
                              </ul>
{% endblock aside %}
{% block theatre %}
{% render "EvocatioCoreBundle:Default:i18nSwitcher" %}
{% endblock theatre %}
