{%  extends "::base.html.twig" %}
{% block left %}
<h1>Faq</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ faq.id }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ faq.status }}</td>
        </tr>
        <tr>
            <th>Question</th>
            <td>{{ faq.question }}</td>
        </tr>
        <tr>
            <th>Reponse</th>
            <td>{{ faq.reponse }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('EvocatioFaqBundle_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('EvocatioFaqBundle_edit', { 'id': faq.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('EvocatioFaqBundle_delete', { 'id': faq.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock left %}
{% block right %}
    {% render "EvocatioCoreBundle:Default:i18nSwitcher" %}
{% endblock right %}