{% extends "OwnerSiteBundle::base_admin.html.twig" %}
{% import "EvocatioCmsBundle:Macro:menu.html.twig" as _menu %}
{% block inside_content %}
<h2>Liste des menus</h2>
        {% for entity in entities %}
            <ul>
                <li>{{ entity.id }} {{ entity.node.name }}
                    <a href="{{ _route_crud.edit('owner_site_menu_edit',  entity.id) }}">edit</a>| <!-- form action="{{ _route_crud.delete('owner_site_menu_delete') }}" method="post">
                        {{ form_widget(delete_forms[entity.id]) }}
                    </form--> 
                    <a href="{{ _route_crud.path('owner_site_menu_create', "create", {"parent": entity.id}) }}" method="post">
                    ajouter un enfant
                    </a>
                </li>
                {% if(entity.hasChildren) %}
                    {{ _menu.list_children(entity) }}
                {% endif %}
            </ul>
        {% else %}
            aucune enulé
        {% endfor %}
<ul>
    <li>
        <a href="{{ _route_crud.path('owner_site_menu_create', 'create') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_content %}
