{%  extends "::base.html.twig" %}
{% import "::macro/route/suffix.html.twig" as route_suffix %}
{% block inside_theater %}
    <dl>
        {% for entity in entities %}
            <dt><div>{{ entity.status?'Published':'Inactive' }}</div> <strong>{{ entity.username }}</strong> 
            <a href="{{ route_suffix.path('evocatio_security_user_edit', 'edit','user', entity.id) }}">edit</a> 
            <a href="{{ route_suffix.path('evocatio_security_user_show', 'show','user', entity.id) }}">show</a> </dt>
            <dd>{{ entity.email }}</dd>
        {{ entity.locked }}
        {% else %}
            aucune entré
        {% endfor %}
    </dl>
<ul>
    <li>
        <a href="{{ route_suffix.path('evocatio_security_user_create', 'create','user') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock inside_theater %}
